*{
  margin: 0px;
  padding: 0px;

}
nav{
  margin-bottom: 7px;.
  position: relative;
}
#hov:hover{
  color: #F46A82;
}
.nav-item{
  padding-top: 10px;
  margin-left: 50px;
  gap:40px;

}
.om{
  width: 40px;
  padding-top: 10px;
  margin-left: 9px;

}
.aiyapanbg{
  width: 100vw;
  
  height: 100vh;
}
