*{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}
nav{
  margin-bottom: 7px;
}
.backimg{
    width: 100vw;
    height: 100vh;

}

.nav-item{
  padding-top: 10px;
  margin-left: 50px;
  gap:40px;

}
#hov:hover{
  color: #F46A82;

}
.om{
  width: 40px;
  padding-top: 10px;
  margin-left: 9px;

}
.bodycont{

   text-align: center;
}
.content {
  position: absolute;
  top: 40%;
  color:  #d43308;
  left: 6%;
  font-size: 3em;
}
.lineimg{
  position: absolute;
  top: 52%;
  left: 6%;
  font-size: 4em;
}
.para {
  position: absolute;
  top: 57%;
  color: black;
  left: 9%;
  font-size: 30px;
}
.abtbut{
    position: absolute;
    top: 72%;
    font-size: 16px;
    border: none;
    background-color: #7E4555;
    left: 10%;
    border-radius: 40px;
    padding: 12px 30px 12px 30px;
    transition-duration: 0.4s;
}
.invbut{

      position: absolute;
      top: 72%;
      font-size: 16px;
      border: none;
      background-color: #7E4555;
      left: 23%;
      border-radius: 40px;
      padding: 12px 30px 12px 30px;
      transition-duration: 0.4s;

}
.invbut:hover{
  background-color: #d43308;
}
.abtbut:hover {
  background-color: #d43308;
}
.rightarr{
  position: relative;
  bottom:2px;
  left: 3px;
  height: 20px;
  width: 18px;
}
